*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.percent
{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.5vw;
    font-family: 'Ultra', serif;
    color: white;
    transform: translate(-50%, -50%);
}

.percent.ended
{
    display: none;
}

@keyframes fadeout {
    0% {opacity: 1;}
    66% {opacity: 1;}
    100% {opacity: 0;}
}
